<h1>Targets</h1>

<ul>
  <% @enemy_targets.each do |enemy_target| %>
    <li>
      <a href="/enemy_targets/<%= enemy_target.id %>">
        <%= enemy_target.name %>
      </a>
    </li>
  <% end %>
</ul>